@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-200 bg-[#030712];
  }
}

:root {
  color-scheme: dark;
}

@layer utilities {
  .animate-in {
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .fade-in {
    animation-name: fadeIn;
  }

  .slide-in-from-left-2 {
    animation-name: slideInFromLeft2;
  }

  .slide-in-from-bottom-4 {
    animation-name: slideInFromBottom4;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slideInFromLeft2 {
    from {
      transform: translateX(-0.5rem);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromBottom4 {
    from {
      transform: translateY(1rem);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}